################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IssueTracker/.vs/IssueTracker/v15
